In [1]:
import yfinance as yf
import talib

In [3]:
data=yf.Ticker("YESBANK.NS")

In [7]:
data
talib.get_function_groups()

TypeError: get_function_groups() takes 0 positional arguments but 1 was given

In [6]:
data.info

{'address1': 'YES BANK House',
 'address2': 'Off Western Express Highway Santacruz East',
 'city': 'Mumbai',
 'zip': '400055',
 'country': 'India',
 'phone': '91 22 5091 9800',
 'fax': '91 22 2619 2866',
 'website': 'https://www.yesbank.in',
 'industry': 'Banks - Regional',
 'industryKey': 'banks-regional',
 'industryDisp': 'Banks - Regional',
 'sector': 'Financial Services',
 'sectorKey': 'financial-services',
 'sectorDisp': 'Financial Services',
 'longBusinessSummary': 'Yes Bank Limited provides various banking and financial products and services primarily in India. It operates through Treasury, Corporate/Wholesale Banking, Retail Banking, and Other Banking Operations segments. The company provides retail banking products, including savings accounts; fixed and recurring deposits; home, car, super bike, commercial vehicle, construction equipment, gold, personal, and secured business loans; loans against securities; and health care and printing equipment finance, as well as business banking services to micro, small, and medium enterprises. It offers corporate banking services, such as working capital finance, term loans, project finance, trade finance and cash management services, debt capital markets, treasury, investment banking solution, foreign currency loans and overseas financing, liquidity management, and other services. In addition, the company offers financial and advisory services to ministries under the union and state governments, central and state public sector undertakings, boards, and other affiliates; and banking solutions to cooperative banks, mutual funds, stock brokers, non-banking finance companies (NBFCs), payment aggregators, regulated payment operators, and other financial institutions. Further, it provides debit and credit cards, wealth management and insurance products, and mobile and online banking services; transaction banking services; mergers and acquisition advisory; and remittance solutions, as well as operates ATMs and bunch note acceptors/recyclers. The company was incorporated in 2003 and is headquartered in Mumbai, India.',
 'fullTimeEmployees': 27517,
 'companyOfficers': [{'maxAge': 1,
   'name': 'Mr. Prashant  Kumar',
   'age': 61,
   'title': 'CEO, MD & Director',
   'yearBorn': 1962,
   'fiscalYear': 2023,
   'totalPay': 34715538,
   'exercisedValue': 0,
   'unexercisedValue': 0},
  {'maxAge': 1,
   'name': 'Mr. Rajan  Pental',
   'title': 'Global Head of Retail Banking & Executive Director',
   'fiscalYear': 2023,
   'totalPay': 5927870,
   'exercisedValue': 0,
   'unexercisedValue': 0},
  {'maxAge': 1,
   'name': 'Mr. Niranjan  Banodkar',
   'age': 41,
   'title': 'Group Chief Financial Officer',
   'yearBorn': 1982,
   'fiscalYear': 2023,
   'exercisedValue': 0,
   'unexercisedValue': 0},
  {'maxAge': 1,
   'name': 'Mr. Sachin  Raut',
   'title': 'Chief Operating Officer',
   'fiscalYear': 2023,
   'exercisedValue': 0,
   'unexercisedValue': 0},
  {'maxAge': 1,
   'name': 'Mr. Vinod Mohanlal Bahety',
   'title': 'Senior Group President & Global Head of Corporate Finance Infrastructure Banking',
   'fiscalYear': 2023,
   'exercisedValue': 0,
   'unexercisedValue': 0},
  {'maxAge': 1,
   'name': 'Mr. Mahesh  Ramamoorthy',
   'age': 54,
   'title': 'Chief Information Officer',
   'yearBorn': 1969,
   'fiscalYear': 2023,
   'exercisedValue': 0,
   'unexercisedValue': 0},
  {'maxAge': 1,
   'name': 'Mr. Sanjay  Nambiar',
   'title': 'Group President, Legal Head & General Counsel',
   'fiscalYear': 2023,
   'exercisedValue': 0,
   'unexercisedValue': 0},
  {'maxAge': 1,
   'name': 'Mr. Rajat  Chhalani',
   'title': 'Chief Compliance Officer',
   'fiscalYear': 2023,
   'exercisedValue': 0,
   'unexercisedValue': 0},
  {'maxAge': 1,
   'name': 'Mr. Nipun  Kaushal',
   'title': 'Chief Marketing Officer & Head of CSR',
   'fiscalYear': 2023,
   'exercisedValue': 0,
   'unexercisedValue': 0},
  {'maxAge': 1,
   'name': 'Ms. Archana  Shiroor',
   'title': 'Chief Human Resources Officer',
   'fiscalYear': 2023,
   'exercisedValue': 0,
   'unexercisedValue': 0}],
 'compensationAsOfEpochDate': 1703980800,
 'maxAge': 86400,
 'priceHint': 2,
 'previousClose': 24.35,
 'open': 24.45,
 'dayLow': 23.8,
 'dayHigh': 24.5,
 'regularMarketPreviousClose': 24.35,
 'regularMarketOpen': 24.45,
 'regularMarketDayLow': 23.8,
 'regularMarketDayHigh': 24.5,
 'exDividendDate': 1559520000,
 'fiveYearAvgDividendYield': 1.84,
 'beta': 0.611,
 'trailingPE': 68.28571,
 'forwardPE': 29.146341,
 'volume': 219454461,
 'regularMarketVolume': 219454461,
 'averageVolume': 313968952,
 'averageVolume10days': 313111101,
 'averageDailyVolume10Day': 313111101,
 'marketCap': 687442886656,
 'fiftyTwoWeekLow': 14.4,
 'fiftyTwoWeekHigh': 26.25,
 'priceToSalesTrailing12Months': 6.248443,
 'fiftyDayAverage': 22.166,
 'twoHundredDayAverage': 18.22925,
 'currency': 'INR',
 'enterpriseValue': 1358168588288,
 'profitMargins': 0.09309,
 'floatShares': 15309854900,
 'sharesOutstanding': 28763299840,
 'heldPercentInsiders': 0.41557997,
 'heldPercentInstitutions': 0.17368999,
 'impliedSharesOutstanding': 29389400064,
 'bookValue': 13.744,
 'priceToBook': 1.7389406,
 'lastFiscalYearEnd': 1680220800,
 'nextFiscalYearEnd': 1711843200,
 'mostRecentQuarter': 1703980800,
 'earningsQuarterlyGrowth': 3.405,
 'netIncomeToCommon': 10241286144,
 'trailingEps': 0.35,
 'forwardEps': 0.82,
 'pegRatio': 2.28,
 'lastSplitFactor': '5:1',
 'lastSplitDate': 1505952000,
 'enterpriseToRevenue': 12.345,
 '52WeekChange': 0.41159415,
 'SandP52WeekChange': 0.20883334,
 'lastDividendValue': 2.0,
 'lastDividendDate': 1559520000,
 'exchange': 'NSI',
 'quoteType': 'EQUITY',
 'symbol': 'YESBANK.NS',
 'underlyingSymbol': 'YESBANK.NS',
 'shortName': 'YES BANK',
 'longName': 'Yes Bank Limited',
 'firstTradeDateEpochUtc': 1121139900,
 'timeZoneFullName': 'Asia/Kolkata',
 'timeZoneShortName': 'IST',
 'uuid': '4a22ab6a-17b2-3225-870d-20f9e83a1249',
 'messageBoardId': 'finmb_9674016',
 'gmtOffSetMilliseconds': 19800000,
 'currentPrice': 23.9,
 'targetHighPrice': 19.0,
 'targetLowPrice': 14.0,
 'targetMeanPrice': 16.28,
 'targetMedianPrice': 16.0,
 'recommendationMean': 4.1,
 'recommendationKey': 'underperform',
 'numberOfAnalystOpinions': 9,
 'totalCash': 178878808064,
 'totalCashPerShare': 5.899,
 'totalDebt': 798664097792,
 'totalRevenue': 110018265088,
 'revenuePerShare': 3.774,
 'returnOnAssets': 0.00282,
 'returnOnEquity': 0.025039999,
 'earningsGrowth': 3.0,
 'revenueGrowth': 0.174,
 'operatingMargins': 0.11813,
 'financialCurrency': 'INR',
 'trailingPegRatio': None}

In [9]:
data.history(period="6mo")

C:\Users\admin\AppData\Local\Programs\Python\Python310\lib\site-packages\yfinance\utils.py:775: FutureWarning: The 'unit' keyword in TimedeltaIndex construction is deprecated and will be removed in a future version. Use pd.to_timedelta instead.
  df.index += _pd.TimedeltaIndex(dst_error_hours, 'h')

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2023-07-31 00:00:00+05:30,16.950001,17.100000,16.900000,16.950001,60939265,0.0,0.0
2023-08-01 00:00:00+05:30,17.100000,17.200001,17.000000,17.100000,69943055,0.0,0.0
2023-08-02 00:00:00+05:30,17.049999,17.299999,16.850000,17.000000,108943704,0.0,0.0
2023-08-03 00:00:00+05:30,17.000000,17.100000,16.900000,17.000000,67175859,0.0,0.0
2023-08-04 00:00:00+05:30,17.049999,17.150000,16.900000,16.950001,86412240,0.0,0.0
...,...,...,...,...,...,...,...
2024-01-23 00:00:00+05:30,25.450001,25.600000,23.900000,24.049999,292673233,0.0,0.0
2024-01-24 00:00:00+05:30,24.150000,24.799999,23.650000,24.700001,240904515,0.0,0.0
2024-01-25 00:00:00+05:30,24.799999,25.299999,24.700001,24.850000,213588805,0.0,0.0
2024-01-29 00:00:00+05:30,25.299999,25.500000,24.250000,24.350000,300993947,0.0,0.0
2024-01-30 00:00:00+05:30,24.450001,24.500000,23.799999,23.900000,219454461,0.0,0.0

In [19]:
symbol="YESBANK.NS"
df=data.history(symbol, start="2023-1-30", end="2024-01-30", interval='1d')

C:\Users\admin\AppData\Local\Programs\Python\Python310\lib\site-packages\yfinance\utils.py:775: FutureWarning: The 'unit' keyword in TimedeltaIndex construction is deprecated and will be removed in a future version. Use pd.to_timedelta instead.
  df.index += _pd.TimedeltaIndex(dst_error_hours, 'h')

In [11]:
df

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2024-01-01 00:00:00+05:30,21.500000,23.000000,21.400000,22.650000,577972312,0.0,0.0
2024-01-02 00:00:00+05:30,22.700001,23.700001,22.299999,23.200001,618101025,0.0,0.0
2024-01-03 00:00:00+05:30,23.250000,23.750000,22.750000,22.900000,378099590,0.0,0.0
2024-01-04 00:00:00+05:30,23.049999,23.600000,22.900000,23.250000,271346506,0.0,0.0
2024-01-05 00:00:00+05:30,23.350000,24.299999,23.250000,24.000000,561257556,0.0,0.0
2024-01-08 00:00:00+05:30,24.299999,24.450001,23.450001,24.200001,546082056,0.0,0.0
2024-01-09 00:00:00+05:30,24.400000,25.000000,24.100000,24.200001,474325248,0.0,0.0
2024-01-10 00:00:00+05:30,24.150000,25.650000,24.000000,25.500000,706576963,0.0,0.0
2024-01-11 00:00:00+05:30,25.600000,25.950001,25.150000,25.549999,410909551,0.0,0.0
2024-01-12 00:00:00+05:30,25.650000,25.700001,24.600000,24.900000,264160446,0.0,0.0
2024-01-15 00:00:00+05:30,25.000000,25.299999,24.600000,24.750000,239737801,0.0,0.0
2024-01-16 00:00:00+05:30,24.950001,26.250000,24.900000,25.650000,555808959,0.0,0.0
2024-01-17 00:00:00+05:30,25.400000,25.650000,24.650000,24.750000,407818402,0.0,0.0
2024-01-18 00:00:00+05:30,24.700001,25.100000,23.900000,24.950001,308605574,0.0,0.0
2024-01-19 00:00:00+05:30,25.100000,25.549999,25.100000,25.150000,184495376,0.0,0.0
2024-01-22 00:00:00+05:30,25.150000,25.150000,25.150000,25.150000,0,0.0,0.0
2024-01-23 00:00:00+05:30,25.450001,25.600000,23.900000,24.049999,292673233,0.0,0.0
2024-01-24 00:00:00+05:30,24.150000,24.799999,23.650000,24.700001,240904515,0.0,0.0
2024-01-25 00:00:00+05:30,24.799999,25.299999,24.700001,24.850000,213588805,0.0,0.0
2024-01-29 00:00:00+05:30,25.299999,25.500000,24.250000,24.350000,300993947,0.0,0.0

In [20]:
df["RSI"]=talib.RSI(df["Close"],timeperiod=14)

In [14]:
talib.help

AttributeError: module 'talib' has no attribute 'help'

In [21]:
df

,Open,High,Low,Close,Volume,Dividends,Stock Splits,RSI
Date,,,,,,,,
2023-01-30 00:00:00+05:30,17.500000,17.900000,17.000000,17.100000,210890783,0.0,0.0,NaN
2023-01-31 00:00:00+05:30,17.100000,17.600000,16.750000,17.250000,172354037,0.0,0.0,NaN
2023-02-01 00:00:00+05:30,17.299999,17.549999,16.650000,16.900000,165385637,0.0,0.0,NaN
2023-02-02 00:00:00+05:30,16.850000,17.250000,16.700001,16.850000,123967342,0.0,0.0,NaN
2023-02-03 00:00:00+05:30,16.950001,17.150000,16.150000,16.450001,156969022,0.0,0.0,NaN
...,...,...,...,...,...,...,...,...
2024-01-22 00:00:00+05:30,25.150000,25.150000,25.150000,25.150000,0,0.0,0.0,65.752213
2024-01-23 00:00:00+05:30,25.450001,25.600000,23.900000,24.049999,292673233,0.0,0.0,54.965735
2024-01-24 00:00:00+05:30,24.150000,24.799999,23.650000,24.700001,240904515,0.0,0.0,59.222646
2024-01-25 00:00:00+05:30,24.799999,25.299999,24.700001,24.850000,213588805,0.0,0.0,60.158583
2024-01-29 00:00:00+05:30,25.299999,25.500000,24.250000,24.350000,300993947,0.0,0.0,55.579224

In [40]:
print(df["Close"].iloc[1])

17.25

In [1]:
buy=[]
sell=[]
position=False
for i in range(14,len(df)):

    if position==False and df["RSI"][i] < 30:
        print("buy")
        position=True
        print(df.iloc[i, df.columns.get_loc('Close')])
    elif position==True and df["RSI"][i] > 70:
        print("sell")
        position=False
        print(df.iloc[i, df.columns.get_loc('Close')])

NameError: name 'df' is not defined

In [29]:
buy=[]
sell=[]
for i in range(14,len(df)):
    position=False
    if positon==False and df["RSI"][i] < 30:
        print("buy")
        position=True
        buy.append(df["Close"])
    elif postion==True and df["RSI"][i] > 70:
        print("sell")
        positon=False
        sell.append(df["Close"])

C:\Users\admin\AppData\Local\Temp\ipykernel_7384\3363273579.py:5: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  if positon==False and df["RSI"][i] < 30:

NameError: name 'postion' is not defined

In [36]:
buy=[]
sell=[]
for i in range(14,len(df)):
    position=False
    if positon==False and df["RSI"][i] < 30:
        print("buy")
        position=True
        buy.append(df["Close"])
    elif postion==True and df["RSI"][i] > 70:
        print("sell")
        positon=False
        sell.append(df["Close"])

C:\Users\admin\AppData\Local\Temp\ipykernel_7384\3363273579.py:5: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  if positon==False and df["RSI"][i] < 30:

NameError: name 'postion' is not defined

In [34]:
buy=[]
sell=[]
for i in range(14,len(df)):
    position=False
    if positon==False and df["RSI"][i] < 30:
        print("buy")
        position=True
        buy.append(df["Close"])
    elif postion==True and df["RSI"][i] > 70:
        print("sell")
        positon=False
        sell.append(df["Close"])

C:\Users\admin\AppData\Local\Temp\ipykernel_7384\3363273579.py:5: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  if positon==False and df["RSI"][i] < 30:

NameError: name 'postion' is not defined

In [32]:
print(buy)

[Date
2023-01-30 00:00:00+05:30    17.100000
2023-01-31 00:00:00+05:30    17.250000
2023-02-01 00:00:00+05:30    16.900000
2023-02-02 00:00:00+05:30    16.850000
2023-02-03 00:00:00+05:30    16.450001
                               ...
2024-01-22 00:00:00+05:30    25.150000
2024-01-23 00:00:00+05:30    24.049999
2024-01-24 00:00:00+05:30    24.700001
2024-01-25 00:00:00+05:30    24.850000
2024-01-29 00:00:00+05:30    24.350000
Name: Close, Length: 246, dtype: float64, Date
2023-01-30 00:00:00+05:30    17.100000
2023-01-31 00:00:00+05:30    17.250000
2023-02-01 00:00:00+05:30    16.900000
2023-02-02 00:00:00+05:30    16.850000
2023-02-03 00:00:00+05:30    16.450001
                               ...
2024-01-22 00:00:00+05:30    25.150000
2024-01-23 00:00:00+05:30    24.049999
2024-01-24 00:00:00+05:30    24.700001
2024-01-25 00:00:00+05:30    24.850000
2024-01-29 00:00:00+05:30    24.350000
Name: Close, Length: 246, dtype: float64, Date
2023-01-30 00:00:00+05:30    17.100000
2023-01-31 00:00:00+05:30    17.250000
2023-02-01 00:00:00+05:30    16.900000
2023-02-02 00:00:00+05:30    16.850000
2023-02-03 00:00:00+05:30    16.450001
                               ...
2024-01-22 00:00:00+05:30    25.150000
2024-01-23 00:00:00+05:30    24.049999
2024-01-24 00:00:00+05:30    24.700001
2024-01-25 00:00:00+05:30    24.850000
2024-01-29 00:00:00+05:30    24.350000
Name: Close, Length: 246, dtype: float64, Date
2023-01-30 00:00:00+05:30    17.100000
2023-01-31 00:00:00+05:30    17.250000
2023-02-01 00:00:00+05:30    16.900000
2023-02-02 00:00:00+05:30    16.850000
2023-02-03 00:00:00+05:30    16.450001
                               ...
2024-01-22 00:00:00+05:30    25.150000
2024-01-23 00:00:00+05:30    24.049999
2024-01-24 00:00:00+05:30    24.700001
2024-01-25 00:00:00+05:30    24.850000
2024-01-29 00:00:00+05:30    24.350000
Name: Close, Length: 246, dtype: float64, Date
2023-01-30 00:00:00+05:30    17.100000
2023-01-31 00:00:00+05:30    17.250000
2023-02-01 00:00:00+05:30    16.900000
2023-02-02 00:00:00+05:30    16.850000
2023-02-03 00:00:00+05:30    16.450001
                               ...
2024-01-22 00:00:00+05:30    25.150000
2024-01-23 00:00:00+05:30    24.049999
2024-01-24 00:00:00+05:30    24.700001
2024-01-25 00:00:00+05:30    24.850000
2024-01-29 00:00:00+05:30    24.350000
Name: Close, Length: 246, dtype: float64]