In [3]:
pip install pandas

Requirement already satisfied: pandas in c:\users\admin\appdata\local\programs\python\python310\lib\site-packages (2.2.0)
Requirement already satisfied: numpy<2,>=1.22.4 in c:\users\admin\appdata\local\programs\python\python310\lib\site-packages (from pandas) (1.26.3)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\admin\appdata\local\programs\python\python310\lib\site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\users\admin\appdata\local\programs\python\python310\lib\site-packages (from pandas) (2023.4)
Requirement already satisfied: tzdata>=2022.7 in c:\users\admin\appdata\local\programs\python\python310\lib\site-packages (from pandas) (2023.4)
Requirement already satisfied: six>=1.5 in c:\users\admin\appdata\local\programs\python\python310\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

WARNING: You are using pip version 21.2.3; however, version 23.3.2 is available.
You should consider upgrading via the 'C:\Users\admin\AppData\Local\Programs\Python\Python310\python.exe -m pip install --upgrade pip' command.

In [4]:
import pandas as pd
import yfinance as yf

In [5]:
data=yf.Ticker("ITC.NS")

In [9]:
symbol="ITC.NS"
df=data.history(symbol, start="2023-1-30", end="2024-01-30", interval='1h')

In [12]:
del df["Dividends","Volume","Stock Splits"]

In [17]:
df

                                 Open        High         Low       Close
Datetime
2023-01-30 09:15:00+05:30  346.500000  351.750000  345.700012  349.799988
2023-01-30 10:15:00+05:30  349.799988  349.799988  348.149994  348.149994
2023-01-30 11:15:00+05:30  348.200012  349.649994  347.600006  348.549988
2023-01-30 12:15:00+05:30  348.450012  348.649994  344.000000  345.500000
2023-01-30 13:15:00+05:30  345.549988  347.000000  344.850006  345.799988
...                               ...         ...         ...         ...
2024-01-29 11:15:00+05:30  455.100006  455.600006  453.450012  454.350006
2024-01-29 12:15:00+05:30  454.350006  454.500000  453.000000  453.899994
2024-01-29 13:15:00+05:30  453.950012  454.049988  451.600006  452.399994
2024-01-29 14:15:00+05:30  452.350006  452.500000  450.200012  450.799988
2024-01-29 15:15:00+05:30  450.750000  451.000000  447.899994  448.299988

[1708 rows x 4 columns]

In [18]:
import talib as ta

In [20]:
df["RSI"]=ta.RSI(df["Close"],timeperiod=14)

In [55]:
df[14:]

,Open,High,Low,Close,RSI,Buy,Sell
Datetime,,,,,,,
2023-02-01 09:15:00+05:30,353.000000,353.899994,348.799988,351.399994,54.395626,0,0
2023-02-01 10:15:00+05:30,351.399994,354.000000,350.500000,352.450012,57.063337,0,0
2023-02-01 11:15:00+05:30,352.500000,353.450012,334.049988,334.200012,27.238888,0,0
2023-02-01 12:15:00+05:30,334.750000,365.549988,329.250000,359.850006,59.376008,0,0
2023-02-01 13:15:00+05:30,359.000000,360.399994,356.200012,359.049988,58.508007,0,0
...,...,...,...,...,...,...,...
2024-01-29 11:15:00+05:30,455.100006,455.600006,453.450012,454.350006,37.489548,0,0
2024-01-29 12:15:00+05:30,454.350006,454.500000,453.000000,453.899994,36.753542,0,0
2024-01-29 13:15:00+05:30,453.950012,454.049988,451.600006,452.399994,34.333927,0,0
2024-01-29 14:15:00+05:30,452.350006,452.500000,450.200012,450.799988,31.919996,0,0
2024-01-29 15:15:00+05:30,450.750000,451.000000,447.899994,448.299988,28.543183,0,0

In [47]:
print(df["RSI"][14])

54.3956255858291

C:\Users\admin\AppData\Local\Temp\ipykernel_9304\3845861967.py:1: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  print(df["RSI"][14])

In [65]:
position=False

for i in range(14,len(df)):
    if df["RSI"][i]<30 and position == False:
        df.loc[i, 'Buy'] = 1
        position=True
    elif df["RSI"][i]>70 and position == True: 
        df.loc[i, 'Sell'] = 1
        position=False
    else:
        pass

C:\Users\admin\AppData\Local\Temp\ipykernel_9304\2635989824.py:4: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  if df["RSI"][i]<30 and position == False:
C:\Users\admin\AppData\Local\Temp\ipykernel_9304\2635989824.py:7: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  elif df["RSI"][i]>70 and position == True:

KeyError: 17

In [60]:
df.where(df["Sell"]==1)

                           Open  High  Low  Close  RSI  Buy  Sell
Datetime
2023-01-30 09:15:00+05:30   NaN   NaN  NaN    NaN  NaN  NaN   NaN
2023-01-30 10:15:00+05:30   NaN   NaN  NaN    NaN  NaN  NaN   NaN
2023-01-30 11:15:00+05:30   NaN   NaN  NaN    NaN  NaN  NaN   NaN
2023-01-30 12:15:00+05:30   NaN   NaN  NaN    NaN  NaN  NaN   NaN
2023-01-30 13:15:00+05:30   NaN   NaN  NaN    NaN  NaN  NaN   NaN
...                         ...   ...  ...    ...  ...  ...   ...
2024-01-29 11:15:00+05:30   NaN   NaN  NaN    NaN  NaN  NaN   NaN
2024-01-29 12:15:00+05:30   NaN   NaN  NaN    NaN  NaN  NaN   NaN
2024-01-29 13:15:00+05:30   NaN   NaN  NaN    NaN  NaN  NaN   NaN
2024-01-29 14:15:00+05:30   NaN   NaN  NaN    NaN  NaN  NaN   NaN
2024-01-29 15:15:00+05:30   NaN   NaN  NaN    NaN  NaN  NaN   NaN

[1708 rows x 7 columns]